<h1 class="text-center mt-4">ADMINISTRACIÓN</h1>


<div class="container mt-4">
    <h2 class="mb-4">Lista de Libros</h2>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Autor</th>
                <th>Libro</th>
                <th>Año de Publicación</th>
                <th>Portada</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (books of libros; track books) {
                <tr>
                    <td>{{books.id}}</td>
                    <td>{{ books.autor }}</td>
                    <td>{{ books.libro }}</td>
                    <td>{{ books.publicacion }}</td>
                    <td>
                        <img src="{{ books.imagen }}" alt="{{ books.libro }}" class="img-thumbnail" style="width: 50px; height: auto;">
                    </td>
                    <td>
                        <button class="btn btn-warning" [routerLink]="['/editar', books.id]">Editar</button>
                        <button class="btn btn-danger" (click)="delete(books.id)">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center mt-4">
    <button class="btn btn-secondary" (click)="cerrarSesion()">Cerrar sesión</button>
</div>


