<div class="cuerpo">
  <div class="header text-center">
      <h1>Libros</h1>
      <p>Tu tienda de libros favoritos</p>
  </div>

  <div class="container mt-5">
      <div class="row">
          <div class="col-md-4 mb-4">
              <div class="card book-card">
                  <img src="https://th.bing.com/th/id/OIP.a110dNT_Tb1ZJvMC0nC6bgHaLW?rs=1&pid=ImgDetMain" class="card-img-top" alt="El Alquimista">
                  <div class="card-body">
                      <h5 class="card-title">El Alquimista</h5>
                      <p class="card-text">Autor: Paulo Coelho<br>Año: 1988</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card book-card">
                  <img src="https://th.bing.com/th/id/R.d7b7ee71c8ac3dd4ef2c81f12b685c3e?rik=7UoMa8U1KSBNsQ&pid=ImgRaw&r=0" class="card-img-top" alt="Orgullo y Prejuicio">
                  <div class="card-body">
                      <h5 class="card-title">Orgullo y Prejuicio</h5>
                      <p class="card-text">Autor: Jane Austen<br>Año: 1813</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card book-card">
                  <img src="https://th.bing.com/th/id/OIP.GIHtf4oGiZ4cDdpihoLy1QHaLx?rs=1&pid=ImgDetMain" class="card-img-top" alt="Crimen y Castigo">
                  <div class="card-body">
                      <h5 class="card-title">Crimen y Castigo</h5>
                      <p class="card-text">Autor: Fiódor Dostoyevski<br>Año: 1866</p>

                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card book-card">
                  <img src="https://th.bing.com/th/id/OIP.8weipgxeZASSI2nt9APKNAAAAA?rs=1&pid=ImgDetMain" class="card-img-top" alt="1984">
                  <div class="card-body">
                      <h5 class="card-title">1984</h5>
                      <p class="card-text">Autor: George Orwell<br>Año: 1949</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4 mb-4">
              <div class="card book-card">
                  <img src="https://www.popularlibros.com/imagenes_grandes/9788468/978846876702.JPG" class="card-img-top" alt="Matar a un ruiseñor">
                  <div class="card-body">
                      <h5 class="card-title">Matar a un ruiseñor</h5>
                      <p class="card-text">Autor: Harper Lee<br>Año: 1960</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="footer text-center mt-5 py-4" style="background-color: #8b5b29; color: white;">
      <p>&copy; 2024 Libros Café. Todos los derechos reservados.</p>
  </div>
</div>




